<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.adudina.dt.unit.coordinator</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses coordinators</string>
	<key>Nodes</key>
	<array>
		<string>Info.plist:UIApplicationSceneManifest</string>
		<string>Info.plist:UILaunchScreen</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Library/Coordinator/Coordinator.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Library</string>
								<string>Coordinator</string>
							</array>
							<key>Path</key>
							<string>Library/Coordinator/Coordinator.swift</string>
						</dict>
						<key>Library/Coordinator/Router.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Library</string>
								<string>Coordinator</string>
							</array>
							<key>Path</key>
							<string>Library/Coordinator/Router.swift</string>
						</dict>
						<key>Library/Common/Types.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Library</string>
								<string>Common</string>
							</array>
							<key>Path</key>
							<string>Library/Common/Types.swift</string>
						</dict>
						<key>Application/Base/Formatter/BaseFormatter.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Base</string>
								<string>Formatter</string>
							</array>
							<key>Path</key>
							<string>Application/Base/Formatter/BaseFormatter.swift</string>
						</dict>
						<key>Application/Base/Screen/ViewController/BaseViewController.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Base</string>
								<string>Screen</string>
								<string>ViewController</string>
							</array>
							<key>Path</key>
							<string>Application/Base/Screen/ViewController/BaseViewController.swift</string>
						</dict>
						<key>Application/Base/Screen/View/BaseScreenViewImpl.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Base</string>
								<string>Screen</string>
								<string>View</string>
							</array>
							<key>Path</key>
							<string>Application/Base/Screen/View/BaseScreenViewImpl.swift</string>
						</dict>
						<key>Application/Base/NavigationController/BaseNavigationController.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Base</string>
								<string>NavigationController</string>
							</array>
							<key>Path</key>
							<string>Application/Base/NavigationController/BaseNavigationController.swift</string>
						</dict>
						<key>Application/Base/UIButton/BaseBackgroundColorButton.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Base</string>
								<string>UIButton</string>
							</array>
							<key>Path</key>
							<string>Application/Base/UIButton/BaseBackgroundColorButton.swift</string>
						</dict>
						<key>Application/Base/UIButton/BaseRoundedButton.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Base</string>
								<string>UIButton</string>
							</array>
							<key>Path</key>
							<string>Application/Base/UIButton/BaseRoundedButton.swift</string>
						</dict>
						<key>Application/Base/UIView/BaseView.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Base</string>
								<string>UIView</string>
							</array>
							<key>Path</key>
							<string>Application/Base/UIView/BaseView.swift</string>
						</dict>
						<key>Application/Base/UIView/BaseRoundedView.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Base</string>
								<string>UIView</string>
							</array>
							<key>Path</key>
							<string>Application/Base/UIView/BaseRoundedView.swift</string>
						</dict>
						<key>Application/Base/UIView/BaseDashedView.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Base</string>
								<string>UIView</string>
							</array>
							<key>Path</key>
							<string>Application/Base/UIView/BaseDashedView.swift</string>
						</dict>
						<key>Application/Constants/Constants.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Constants</string>
							</array>
							<key>Path</key>
							<string>Application/Constants/Constants.swift</string>
						</dict>
						<key>Application/DI/DI.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>DI</string>
							</array>
							<key>Path</key>
							<string>Application/DI/DI.swift</string>
						</dict>
						<key>Application/Extension/UIKit/ExclusiveTouch/ExclusiveTouch.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>ExclusiveTouch</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/ExclusiveTouch/ExclusiveTouch.swift</string>
						</dict>
						<key>Application/Extension/UIKit/ScrollView/UIScrollView+Additional.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>ScrollView</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/ScrollView/UIScrollView+Additional.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIAlertController/UIAlertController+Init.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIAlertController</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIAlertController/UIAlertController+Init.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIAlertController/UIAlertControllerCommonInputData.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIAlertController</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIAlertController/UIAlertControllerCommonInputData.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIApplication/UIApplication+Contact.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIApplication</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIApplication/UIApplication+Contact.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIView/UIView+Nib.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIView</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIView/UIView+Nib.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIView/UIView+Constraint.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIView</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIView/UIView+Constraint.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIView/UIView+Animation.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIView</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIView/UIView+Animation.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIViewController/UIViewController+Keyboard.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIViewController</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIViewController/UIViewController+Keyboard.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIViewController/UIViewController+BackButton.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIViewController</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIViewController/UIViewController+BackButton.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIViewController/UIViewController+StyledTitle.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIViewController</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIViewController/UIViewController+StyledTitle.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIButton/UIButton+Callback.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIButton</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIButton/UIButton+Callback.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UICollectionView/UICollectionView+dequeue.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UICollectionView</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UICollectionView/UICollectionView+dequeue.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UITableView/UITableView+dequeue.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UITableView</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UITableView/UITableView+dequeue.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIFont/UIFont+App.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIFont</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIFont/UIFont+App.swift</string>
						</dict>
						<key>Application/Extension/UIKit/UIStackView/UIStackView+Additional.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>UIKit</string>
								<string>UIStackView</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/UIKit/UIStackView/UIStackView+Additional.swift</string>
						</dict>
						<key>Application/Extension/Foundation/String/String+Formatter.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>Foundation</string>
								<string>String</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/Foundation/String/String+Formatter.swift</string>
						</dict>
						<key>Application/Extension/Foundation/String/String+Localized.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>Foundation</string>
								<string>String</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/Foundation/String/String+Localized.swift</string>
						</dict>
						<key>Application/Extension/Foundation/String/String+Notification.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>Foundation</string>
								<string>String</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/Foundation/String/String+Notification.swift</string>
						</dict>
						<key>Application/Extension/Foundation/Array/Array+Helper.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>Foundation</string>
								<string>Array</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/Foundation/Array/Array+Helper.swift</string>
						</dict>
						<key>Application/Extension/Foundation/NSObject/NSObject+ClassName.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>Foundation</string>
								<string>NSObject</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/Foundation/NSObject/NSObject+ClassName.swift</string>
						</dict>
						<key>Application/Extension/Foundation/Dispatch/Dispatch.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>Foundation</string>
								<string>Dispatch</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/Foundation/Dispatch/Dispatch.swift</string>
						</dict>
						<key>Application/Extension/Foundation/UserDefaults/UserDefaults+Helper.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Extension</string>
								<string>Foundation</string>
								<string>UserDefaults</string>
							</array>
							<key>Path</key>
							<string>Application/Extension/Foundation/UserDefaults/UserDefaults+Helper.swift</string>
						</dict>
						<key>Application/UI/Factory/Coordinator/CoordinatorFactory.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>UI</string>
								<string>Factory</string>
								<string>Coordinator</string>
							</array>
							<key>Path</key>
							<string>Application/UI/Factory/Coordinator/CoordinatorFactory.swift</string>
						</dict>
						<key>Application/UI/Factory/Screen/AppFactory.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>UI</string>
								<string>Factory</string>
								<string>Screen</string>
							</array>
							<key>Path</key>
							<string>Application/UI/Factory/Screen/AppFactory.swift</string>
						</dict>
						<key>Application/UI/Factory/Screen/ScreenFactoryImpl.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>UI</string>
								<string>Factory</string>
								<string>Screen</string>
							</array>
							<key>Path</key>
							<string>Application/UI/Factory/Screen/ScreenFactoryImpl.swift</string>
						</dict>
						<key>Application/UI/Factory/Screen/Protocol/SplashScreenFactory.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>UI</string>
								<string>Factory</string>
								<string>Screen</string>
								<string>Protocol</string>
							</array>
							<key>Path</key>
							<string>Application/UI/Factory/Screen/Protocol/SplashScreenFactory.swift</string>
						</dict>
						<key>Application/UI/Coordinators/AppCoordinator.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>UI</string>
								<string>Coordinators</string>
							</array>
							<key>Path</key>
							<string>Application/UI/Coordinators/AppCoordinator.swift</string>
						</dict>
						<key>Application/UI/Coordinators/SplashCoordinator.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>UI</string>
								<string>Coordinators</string>
							</array>
							<key>Path</key>
							<string>Application/UI/Coordinators/SplashCoordinator.swift</string>
						</dict>
						<key>Application/UI/Screens/Splash/Provider/SplashProvider.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>UI</string>
								<string>Screens</string>
								<string>Splash</string>
								<string>Provider</string>
							</array>
							<key>Path</key>
							<string>Application/UI/Screens/Splash/Provider/SplashProvider.swift</string>
						</dict>
						<key>Application/UI/Screens/Splash/View/SplashScreenViewImpl.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>UI</string>
								<string>Screens</string>
								<string>Splash</string>
								<string>View</string>
							</array>
							<key>Path</key>
							<string>Application/UI/Screens/Splash/View/SplashScreenViewImpl.swift</string>
						</dict>
						<key>Application/UI/Screens/Splash/View/SplashScreenViewImpl.xib</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>UI</string>
								<string>Screens</string>
								<string>Splash</string>
								<string>View</string>
							</array>
							<key>Path</key>
							<string>Application/UI/Screens/Splash/View/SplashScreenViewImpl.xib</string>
						</dict>
						<key>Application/UI/Screens/Splash/ViewController/SplashScreenVC.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>UI</string>
								<string>Screens</string>
								<string>Splash</string>
								<string>ViewController</string>
							</array>
							<key>Path</key>
							<string>Application/UI/Screens/Splash/ViewController/SplashScreenVC.swift</string>
						</dict>
						<key>Application/Protocols/BlurredProtocol.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Protocols</string>
							</array>
							<key>Path</key>
							<string>Application/Protocols/BlurredProtocol.swift</string>
						</dict>
						<key>Application/Protocols/CommonInitable.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Protocols</string>
							</array>
							<key>Path</key>
							<string>Application/Protocols/CommonInitable.swift</string>
						</dict>
						<key>Application/Protocols/RoundedProtocol.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Protocols</string>
							</array>
							<key>Path</key>
							<string>Application/Protocols/RoundedProtocol.swift</string>
						</dict>
						<key>Application/Networking/Common/APIConstants.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Networking</string>
								<string>Common</string>
							</array>
							<key>Path</key>
							<string>Application/Networking/Common/APIConstants.swift</string>
						</dict>
						<key>Application/Networking/Endpoint/APIEndpoint.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Networking</string>
								<string>Endpoint</string>
							</array>
							<key>Path</key>
							<string>Application/Networking/Endpoint/APIEndpoint.swift</string>
						</dict>
						<key>Application/Networking/Endpoint/BaseEndpoint.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Networking</string>
								<string>Endpoint</string>
							</array>
							<key>Path</key>
							<string>Application/Networking/Endpoint/BaseEndpoint.swift</string>
						</dict>
						<key>Application/Networking/Utilities/RequestBuilder.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Networking</string>
								<string>Utilities</string>
							</array>
							<key>Path</key>
							<string>Application/Networking/Utilities/RequestBuilder.swift</string>
						</dict>
						<key>Application/Networking/Utilities/APIResponseValidator.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Networking</string>
								<string>Utilities</string>
							</array>
							<key>Path</key>
							<string>Application/Networking/Utilities/APIResponseValidator.swift</string>
						</dict>
						<key>Application/Networking/APIClient/ApiClient.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Networking</string>
								<string>APIClient</string>
							</array>
							<key>Path</key>
							<string>Application/Networking/APIClient/ApiClient.swift</string>
						</dict>
						<key>Application/Networking/Error/ApiError.swift</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Application</string>
								<string>Networking</string>
								<string>Error</string>
							</array>
							<key>Path</key>
							<string>Application/Networking/Error/ApiError.swift</string>
						</dict>
						<key>AppDelegate.swift:implementation:properties:appCoordinator</key>
						<string>private var appCoordinator: Coordinator?</string>
						<key>AppDelegate.swift:implementation:properties:appFactory</key>
						<string>private let appFactory: AppFactory = DI()</string>
						<key>AppDelegate.swift:implementation:extension:runUI</key>
						<string>//MARK: - Start Flow
private func runUI() {
        let (window, coordinator) = appFactory.makeKeyWindowWithCoordinator()
        self.window = window
        self.appCoordinator = coordinator
        window.makeKeyAndVisible()
        self.appCoordinator?.start()
}</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Library/Coordinator/Coordinator.swift</string>
						<string>Library/Coordinator/Router.swift</string>
						<string>Library/Common/Types.swift</string>
						<string>Application/Base/Formatter/BaseFormatter.swift</string>
						<string>Application/Base/Screen/ViewController/BaseViewController.swift</string>
						<string>Application/Base/Screen/View/BaseScreenViewImpl.swift</string>
						<string>Application/Base/NavigationController/BaseNavigationController.swift</string>
						<string>Application/Base/UIButton/BaseBackgroundColorButton.swift</string>
						<string>Application/Base/UIButton/BaseRoundedButton.swift</string>
						<string>Application/Base/UIView/BaseView.swift</string>
						<string>Application/Base/UIView/BaseRoundedView.swift</string>
						<string>Application/Base/UIView/BaseDashedView.swift</string>
						<string>Application/Constants/Constants.swift</string>
						<string>Application/DI/DI.swift</string>
						<string>Application/Extension/UIKit/ExclusiveTouch/ExclusiveTouch.swift</string>
						<string>Application/Extension/UIKit/ScrollView/UIScrollView+Additional.swift</string>
						<string>Application/Extension/UIKit/UIAlertController/UIAlertController+Init.swift</string>
						<string>Application/Extension/UIKit/UIAlertController/UIAlertControllerCommonInputData.swift</string>
						<string>Application/Extension/UIKit/UIApplication/UIApplication+Contact.swift</string>
						<string>Application/Extension/UIKit/UIView/UIView+Nib.swift</string>
						<string>Application/Extension/UIKit/UIView/UIView+Constraint.swift</string>
						<string>Application/Extension/UIKit/UIView/UIView+Animation.swift</string>
						<string>Application/Extension/UIKit/UIViewController/UIViewController+Keyboard.swift</string>
						<string>Application/Extension/UIKit/UIViewController/UIViewController+BackButton.swift</string>
						<string>Application/Extension/UIKit/UIViewController/UIViewController+StyledTitle.swift</string>
						<string>Application/Extension/UIKit/UIButton/UIButton+Callback.swift</string>
						<string>Application/Extension/UIKit/UICollectionView/UICollectionView+dequeue.swift</string>
						<string>Application/Extension/UIKit/UITableView/UITableView+dequeue.swift</string>
						<string>Application/Extension/UIKit/UIFont/UIFont+App.swift</string>
						<string>Application/Extension/UIKit/UIStackView/UIStackView+Additional.swift</string>
						<string>Application/Extension/Foundation/String/String+Formatter.swift</string>
						<string>Application/Extension/Foundation/String/String+Localized.swift</string>
						<string>Application/Extension/Foundation/String/String+Notification.swift</string>
						<string>Application/Extension/Foundation/Array/Array+Helper.swift</string>
						<string>Application/Extension/Foundation/NSObject/NSObject+ClassName.swift</string>
						<string>Application/Extension/Foundation/Dispatch/Dispatch.swift</string>
						<string>Application/Extension/Foundation/UserDefaults/UserDefaults+Helper.swift</string>
						<string>Application/UI/Factory/Coordinator/CoordinatorFactory.swift</string>
						<string>Application/UI/Factory/Screen/AppFactory.swift</string>
						<string>Application/UI/Factory/Screen/ScreenFactoryImpl.swift</string>
						<string>Application/UI/Coordinators/SplashCoordinator.swift</string>
						<string>Application/UI/Coordinators/AppCoordinator.swift</string>
						<string>Application/UI/Factory/Screen/Protocol/SplashScreenFactory.swift</string>
						<string>Application/UI/Screens/Splash/Provider/SplashProvider.swift</string>
						<string>Application/UI/Screens/Splash/View/SplashScreenViewImpl.swift</string>
						<string>Application/UI/Screens/Splash/ViewController/SplashScreenVC.swift</string>
						<string>Application/UI/Screens/Splash/View/SplashScreenViewImpl.xib</string>
						<string>Application/Protocols/BlurredProtocol.swift</string>
						<string>Application/Protocols/CommonInitable.swift</string>
						<string>Application/Protocols/RoundedProtocol.swift</string>
						<string>Application/Networking/Common/APIConstants.swift</string>
						<string>Application/Networking/Endpoint/APIEndpoint.swift</string>
						<string>Application/Networking/Endpoint/BaseEndpoint.swift</string>
						<string>Application/Networking/Utilities/RequestBuilder.swift</string>
						<string>Application/Networking/Utilities/APIResponseValidator.swift</string>
						<string>Application/Networking/APIClient/ApiClient.swift</string>
						<string>Application/Networking/Error/ApiError.swift</string>
						<string>AppDelegate.swift:implementation:properties:appCoordinator</string>
						<string>AppDelegate.swift:implementation:properties:appFactory</string>
						<string>AppDelegate.swift:implementation:extension:runUI</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
		<string>// Override point for customization after application launch
runUI()</string>
		<key>*:implementation:methods:applicationWillResignActive:comments</key>
		<string></string>
		<key>*:implementation:methods:applicationDidEnterBackground:comments</key>
		<string></string>
		<key>*:implementation:methods:applicationWillEnterForeground:comments</key>
		<string></string>
		<key>*:implementation:methods:applicationDidBecomeActive:comments</key>
		<string></string>
		<key>*:implementation:methods:applicationWillTerminate:comments</key>
		<string></string>
		<key>Info.plist:UIApplicationSceneManifest</key>
		<string>&lt;key&gt;UIApplicationSceneManifest&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;UIApplicationSupportsMultipleScenes&lt;/key&gt;
    &lt;true/&gt;
&lt;/dict&gt;
</string>
		<key>Info.plist:UILaunchScreen</key>
		<string>&lt;key&gt;UILaunchScreen&lt;/key&gt;
&lt;dict/&gt;
</string>
	</dict>
</dict>
</plist>
